.header-content{
    text-align: center;
    
    }
.header{
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    height: 652px;
    width: 100%;

}
.header-title{
  font-size: 60px;
  font-weight: 600;
  position: absolute;
  bottom: 500px;
  left: 0;
  margin-left: 30%;
  text-align: center;
  width: 900px;
 
}
.header-description{
  font-size: 22px;
  font-weight: 300;
  position: absolute;
  bottom:450px;
  left: 0;
  margin-left: 30%;
  text-align: center;
  width: 900px;
}
.header-btn{
 font-size: larger;
 font-weight: 600;
 position: absolute;
 bottom:400px;
 left: 0;
 margin-left: 48%;
 text-align: center;
 color: #FFFFFF;
 background-color: black;
 padding: 20px 40px;

}
.header-img{
  position: absolute;
  margin-left: 45% ;
 
   }